.demo {
  margin: 3rem;
  padding: 2rem;
  color: #000;
}

.demo h2 {
  font-size: 2rem;
}

.demo.dark {
  color: #fff;
}

.demo-text {
  margin: 1.5rem 0;
  font-size: 1.6rem;
}

.demo button {
  padding: 1.5rem;
  color: #fff;
  font-size: 1.6rem;
  transition: all 0.2s;
}

.demo button:hover {
  transform: scale(1.1);
}
