.home {
  margin: 2rem 4rem;
  text-align: left;
  color: #ffffff;
}

.home h1 {
  color: #000;
  font-size: 2.4rem;
  text-align: center;
}

.home.dark h1 {
  color: #fff;
}

.home p {
  font-size: 2.4rem;
}

.home .container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
  margin: 4rem;
}

.home .container .list {
  border-radius: 1rem;
  padding: 3rem 4rem;
  background-color: #ffffff;
}

.home .container .sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* background-color: red; */
}

/* TRANSFER MONEY SECTION */

.home .container .sidebar .money {
  background-color: rgb(191, 191, 191);
  color: #000;
  border-radius: 1rem;
  padding: 3rem 4rem;
}

.home .container .sidebar .money.dark {
  background-color: #777;
}

.home .container .sidebar .money.dark {
  color: #fff;
}

.home .container .sidebar .money .btn {
  color: #000;
  transition: all 0.2s;
}

.home .container .sidebar .money .btn:hover {
  transform: scale(1.1);
}

.home .container .sidebar .money.dark .btn {
  color: #fff;
}

/* REQUEST LOAN SECTION */

.home .container .sidebar .loan {
  color: #000;
  background-color: #a6b07e;
  border-radius: 1rem;
  padding: 3rem 4rem;
}

.home .container .sidebar .loan.dark {
  color: #fff;
  background-color: #6a7152;
}

.home .container .sidebar .loan .btn {
  color: #000;
  transition: all 0.2s;
}

.home .container .sidebar .loan .btn:hover {
  transform: scale(1.1);
}

.home .container .sidebar .loan.dark .btn {
  color: #fff;
}

/* CLOSE ACCOUNT SECTION */

.home .container .sidebar .close {
  background-color: #b88c9e;
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #000;
}

.home .container .sidebar .close.dark {
  background-color: #704c5e;
  color: #fff;
}

.home .container .sidebar .close .btn {
  color: #000;
  transition: all 0.2s;
}

.home .container .sidebar .close .btn:hover {
  transform: scale(1.1);
}

.home .container .sidebar .close.dark .btn {
  color: #fff;
}

.sidebar form label {
  display: block;
  text-align: left;
  margin: 30px auto;
}
.sidebar form span {
  display: block;
  margin-bottom: 6px;
}
.sidebar form input {
  padding: 8px 6px;
  color: #777;
  width: 97%;
}

.transactions li {
  margin: 30px auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-left: 4px solid #1f9751;
}

.transactions .name {
  color: #000;
  font-size: 1.4em;
}
.transactions .amount {
  margin-left: auto;
  margin-right: 40px;
  color: #1f9751;
  font-weight: bold;
  font-size: 1.6em;
}

.transactions button {
  position: absolute;
  top: 0;
  right: 0;
  background: #ddd;
  color: #777;
  border: none;
  padding: 12px 8px;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}

.transactions img {
  cursor: pointer;
  transition: all 0.2s;
}

.transactions img:hover {
  transform: scale(1.2);
}

.account-balance {
  margin: 4rem;
}

.account-balance .balance-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance-container {
  color: #000;
}
.balance-container.dark {
  color: #fff;
}
.balance-container .amount {
  font-size: 3.2rem;
  font-weight: bold;
}
.balance-container .title {
  font-weight: bold;
}
