.home {
  margin: 3rem 6rem;
  text-align: left;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .home {
    margin: 2rem 4rem;
  }
}

@media (max-width: 1000px) {
  .home {
    margin: 1rem 2rem;
  }
}

@media (max-width: 800px) {
  .home {
    margin: 1rem 4rem;
  }
}

@media (max-width: 600px) {
  .home {
    margin: 1rem 2rem;
  }
}

@media (max-width: 425px) {
  .home {
    margin: 1rem;
  }
}

.home h1 {
  color: #000;
  font-size: 2.4rem;
  text-align: center;
}

@media (max-width: 320px) {
  .home h1 {
    font-size: 2rem;
  }
}

.home.dark h1 {
  color: #fff;
}

.home p {
  font-size: 2.4rem;
}

.home .default-user {
  color: #000;
  font-size: 1.8rem;
}

.home.dark .default-user {
  color: #fff;
}

.home .del-anonymous {
  color: #000;
  font-size: 1.8rem;
}

.home.dark .del-anonymous {
  color: #fff;
}

.home .container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
  margin: 4rem;
}

@media (max-width: 800px) {
  .home .container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .home .container {
    margin: 3rem;
  }
}

@media (max-width: 425px) {
  .home .container {
    margin: 2rem;
  }
}

@media (max-width: 375px) {
  .home .container {
    margin: 1rem;
  }
}

.home .container .list {
  border-radius: 1rem;
  padding: 3rem 4rem;
  background-color: #fff;
  margin-bottom: 5rem;
}

@media (max-width: 425px) {
  .home .container .list {
    padding: 3rem;
  }
}

@media (max-width: 375px) {
  .home .container .list {
    padding: 2rem;
  }
}

.home .container .sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 5rem;
}

@media (max-width: 800px) {
  .home .container .sidebar {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 10rem;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .home .container .sidebar {
    margin: 0 4rem;
    gap: 2rem;
  }
}

@media (max-width: 425px) {
  .home .container .sidebar {
    margin: 0 1rem;
    gap: 2rem;
  }
}

.home .container .sidebar h3 {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.home.dark .container .sidebar h3 img {
  filter: invert(100%);
}

.home .container .sidebar span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}

.home .container .sidebar span img {
  width: 1.8rem;
}

.home.dark .container .sidebar span img {
  width: 1.8rem;
  filter: invert(100%);
}

.home .container .sidebar input::-webkit-input-placeholder {
  font-size: 1.6rem;
}

/* TRANSFER MONEY SECTION */

.home .container .sidebar .money {
  background-color: rgb(191, 191, 191);
  color: #000;
  border-radius: 1rem;
  padding: 3rem 4rem;
}

.home .container .sidebar .money.dark {
  background-color: #777;
}

.home .container .sidebar .money.dark {
  color: #fff;
}

.home .container .sidebar .money .btn {
  color: #000;
  transition: all 0.2s;
}

.home .container .sidebar .money .btn:hover {
  transform: scale(1.1);
}

.home .container .sidebar .money.dark .btn {
  color: #fff;
}

/* REQUEST LOAN SECTION */

.home .container .sidebar .loan {
  color: #000;
  background-color: #a6b07e;
  border-radius: 1rem;
  padding: 3rem 4rem;
}

.home .container .sidebar .loan.dark {
  color: #fff;
  background-color: #6a7152;
}

.home .container .sidebar .loan .btn {
  color: #000;
  transition: all 0.2s;
}

.home .container .sidebar .loan .btn:hover {
  transform: scale(1.1);
}

.home .container .sidebar .loan.dark .btn {
  color: #fff;
}

/* CLOSE ACCOUNT SECTION */

.home .container .sidebar .close {
  background-color: #b88c9e;
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #000;
}

.home .container .sidebar .close.dark {
  background-color: #704c5e;
  color: #fff;
}

.home .container .sidebar .close .btn {
  color: #000;
  transition: all 0.2s;
}

.home .container .sidebar .close .btn:hover {
  transform: scale(1.1);
}

.home .container .sidebar .close.dark .btn {
  color: #fff;
}

.sidebar form label {
  display: block;
  text-align: left;
  margin: 3rem auto;
}
.sidebar form span {
  display: block;
  margin-bottom: 0.6rem;
}
.sidebar form input {
  padding: 0.8rem 0.6rem;
  color: #1a1a1a;
  width: 97%;
}

/* TRANSACTIONS LIST */

.no-transactions {
  font-size: 2.4rem;
  color: #000;
  text-align: center;
}

.transactions li {
  margin: 3rem auto;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-left: 4px solid #1f9751;
}

.transactions .list-title {
  color: #000;
  font-weight: bold;
  text-align: center;
}

.transactions .name {
  color: #000;
  font-size: 1.4em;
}
.transactions .amount {
  margin-left: auto;
  margin-right: 4rem;
  color: #1f9751;
  font-weight: bold;
  font-size: 1.6em;
}

@media (max-width: 425px) {
  .transactions .amount {
    margin-right: 3rem;
  }
}

.transactions button {
  position: absolute;
  top: 0;
  right: 0;
  background: #ddd;
  color: #777;
  border: none;
  padding: 1.2rem 0.8rem;
  text-align: center;
  line-height: 0;
  font-size: 0.9em;
  cursor: pointer;
}

.transactions img {
  cursor: pointer;
  transition: all 0.2s;
}

.transactions img:hover {
  transform: scale(1.2);
}

.account-balance {
  margin: 4rem;
}

@media (max-width: 425px) {
  .account-balance {
    margin: 4rem 2rem;
  }
}

@media (max-width: 375px) {
  .account-balance {
    margin: 4rem 1rem;
  }
}

.account-balance .balance-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance-container {
  color: #000;
}

.balance-container.dark {
  color: #fff;
}

.balance-container .amount {
  font-size: 3.2rem;
  font-weight: bold;
}

@media (max-width: 320px) {
  .balance-container .amount {
    font-size: 2.8rem;
  }
}

.balance-container .title {
  font-weight: bold;
}

@media (max-width: 320px) {
  .balance-container .title {
    font-size: 2rem;
  }
}
