.theme-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; */
  margin: 2rem 12rem;
}

@media (max-width: 1200px) {
  .theme-selector {
    margin: 2rem 8rem;
  }
}

@media (max-width: 1000px) {
  .theme-selector {
    margin: 2rem 6rem;
  }
}

@media (max-width: 800px) {
  .theme-selector {
    margin: 2rem 8rem;
  }
}

@media (max-width: 600px) {
  .theme-selector {
    margin: 2rem 6rem;
  }
}

@media (max-width: 425px) {
  .theme-selector {
    margin: 2rem 4rem;
  }
}

@media (max-width: 375px) {
  .theme-selector {
    margin: 2rem;
  }
}

.theme-selector img {
  transition: all 0.2s;
}
.theme-selector img:hover {
  transform: scale(1.1);
}
.theme-buttons div {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin-left: 1.5rem;
  border-radius: 50%;
  transition: all 0.2s;
}

.theme-buttons div:hover {
  transform: scale(1.2);
}

.mode-toggle {
  margin-right: auto;
}
.mode-toggle img {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
