.theme-selector {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
}

.theme-selector img {
  transition: all 0.2s;
}
.theme-selector img:hover {
  transform: scale(1.1);
}
.theme-buttons div {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 15px;
  border-radius: 50%;
  transition: all 0.2s;
}

.theme-buttons div:hover {
  transform: scale(1.2);
}

.mode-toggle {
  margin-right: auto;
}
.mode-toggle img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
