.signup-form {
  max-width: 36rem;
  margin: 6rem auto;
  padding: 2.8rem;
  border-radius: 1rem;
  color: #fff;
}

@media (max-width: 425px) {
  .signup-form {
    margin: 6rem;
  }
}

@media (max-width: 375px) {
  .signup-form {
    margin: 6rem 4rem;
  }
}

@media (max-width: 320px) {
  .signup-form {
    margin: 6rem 2rem;
  }
}
.signup-form label {
  display: block;
  text-align: left;
  margin: 3rem auto;
}
.signup-form span {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.6rem;
}
.signup-form input {
  padding: 0.8rem 0.6rem;
  color: #222;
  width: 97%;
}

.signup-form ::-webkit-input-placeholder {
  color: #828282;
}

.signup-form button {
  color: #fff;
  transition: all 0.2s;
}

.signup-form button:hover {
  transform: scale(1.1);
}
